<div class="container my-3">
  <div class="row">
    <div class="col text-center bg-admin-logo py-4 m-2">
      <fa-icon [icon]="faIcon.faCogs" size="5x" ></fa-icon>
      <p style="font-weight: bolder" >Admin</p>
    </div>
    <div class="col text-center bg-sale-logo py-4 m-2">
      <fa-icon [icon]="faIcon.faHandshake" size="5x" ></fa-icon>
      <p style="font-weight: bolder" >Sale</p>
    </div>
    <div class="col text-center bg-hr-payroll-logo py-4 m-2">
      <fa-icon [icon]="faIcon.faUsers" size="5x" ></fa-icon>
      <p style="font-weight: bolder" >HR/Payroll</p>
    </div>
    <div class="col text-center bg-manufacturing-logo py-4 m-2">
      <fa-icon [icon]="faIcon.faPuzzlePiece" size="5x" ></fa-icon>
      <p style="font-weight: bolder" >Manufacturing</p>
    </div>
  </div>
  <div class="row">
    <div class="col text-center bg-helpdesk-logo py-4 m-2">
      <fa-icon [icon]="faIcon.faWrench" size="5x" ></fa-icon>
      <p style="font-weight: bolder" >Helpdesk</p>
    </div>
    <div class="col text-center bg-asset-logo py-4 m-2">
      <fa-icon [icon]="faIcon.faCubes" size="5x" ></fa-icon>
      <p style="font-weight: bolder" >Asset Management</p>
    </div>
    <div class="col text-center bg-quality-logo py-4 m-2">
      <fa-icon [icon]="faIcon.faThumbsUp" size="5x" ></fa-icon>
      <p style="font-weight: bolder" >Quality</p>
    </div>
    <div class="col text-center bg-barcode-logo py-4 m-2">
      <fa-icon [icon]="faIcon.faBarcode" size="5x" ></fa-icon>
      <p style="font-weight: bolder" >Barcode System</p>
    </div>
  </div>
</div>
