<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">
    <button class="btn logo-background mr-3">M</button>
    <span style="font-weight: bolder">Monster ERP</span>
  </a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
    </ul>

    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">
          Apichat
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

<div class="container-fluid fixed-bottom">
  <div class="row">
    <div class="col text-center footer-bg">
      <p class="py-5">© copyright | Offlane Team</p>
    </div>
  </div>
</div>
