/* You can add global styles to this file, and also import other style files */
.logo-background {
  background-color: #1C51B2;
  color: white;
}

.bg-admin-logo {
  background-color: #4FB6AD;
  color: white;

  p {
    margin: 0;
  }
}

.bg-sale-logo {
  background-color: #5E4285;
  color: white;

  p {
    margin: 0;
  }
}

.bg-hr-payroll-logo {
  background-color: #C10096;
  color: white;

  p {
    margin: 0;
  }
}

.bg-manufacturing-logo {
  background-color: #FF4000;
  color: white;

  p {
    margin: 0;
  }
}

.bg-helpdesk-logo {
  background-color: #C10096;
  color: white;

  p {
    margin: 0;
  }
}

.bg-asset-logo {
  background-color: #EA4154;
  color: white;

  p {
    margin: 0;
  }
}

.bg-quality-logo {
  background-color: #9EC100;
  color: white;

  p {
    margin: 0;
  }
}

.bg-barcode-logo {
  background-color: #2C2E41;
  color: white;

  p {
    margin: 0;
  }
}

.footer-bg {
  background-color: #2B364A;
  color: white;
}
